:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1152px;
  --font-family-monospace: monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 16px;
  line-height: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #261917;
  color: #B2A497;
  font-family: arial;
}

body {
  padding: 0;
  margin: 0 auto;
}

#page {
  margin-top: 4ch;
  margin-bottom: 4ch;
}

h1,
h2,
h3,
h4,
h5 {
  color: #DAD1C9;
  font-size: inherit;
  margin: 0 0 1ch 0;
  padding: 0;
}

.wrapper {
  max-width:79ch;
  margin-left: auto;
  margin-right: auto;
}

header {
  overflow: auto;
}
header #bar {
  /* background: #9B2821; */
	background: linear-gradient(359deg, #6e1313, #9B2821);
}

header #bar .wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding: 1ch 0;
  float: left;
}

form {
  float: right;
}

h2 {
  margin-top: 0;
  padding-top: 0;
}

h1 a {
  display: block;
  margin: 0 auto;
  color: white;
}

footer {
  border-top: 1px solid gray;
}

ul.categories {
  display: grid;
  gap: 1ch;
  list-style-type: none;
  grid-template-columns: auto auto auto auto;
  padding: 0;
}

ul.categories li {
  padding: 0;
  margin: 0;
  line-height: 1.6rem;
  background: url(https://bafybeiamqqhgjjwxuf235ryvr6w6au5gh6qpjd4xw4xphug7cwcxlgweky.ipfs.infura-ipfs.io/) left center no-repeat;
  background-size: 1rem;
  padding-left: 1.4rem;
}

ul.categories li:hover {
}

ul.categories li:hover a {
  color: yellow;
}

ul.categories li a {
}

ul.categories li.up {
  background-image: url(https://bafybeihgrl3qquibkskkb33qfumrfs6hhc5m7mijc2alpojd4je3pi6hba.ipfs.infura-ipfs.io/);
}
/* Style the list */
#breadcrumbs {
	background: #333;
}
#breadcrumbs ul {
  list-style: none;
	padding: 1ch 0;
	margin: 0 auto;
}

/* Display list items side by side */
#breadcrumbs ul li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumbs ul li+li:before {
  padding: 8px;
  content: ">";
}

ul.links {
  list-style-type: none;
  margin: 4ch auto;
  padding: 0;
}

ul.links li, #link_detail .inner {
  background: #333;
  padding: 2ch;
  margin: 0 0 2ch;
  border: 1px dashed darkgray;
  overflow: auto;
}

ul.links li:last-child {
  margin: 0;
}

ul.links li .favicon {
  width: 16px;
  height: 16px;
  margin: 0;
  vertical-align: bottom;
  display: block;
  float: left;
}

ul.links li .content {
  float: left;
  margin-left: 10px;
  width: calc(100% - 26px);
  overflow: hidden;
}

ul.links li .content .desc {
  margin: 0;
}

#link_detail .title {
    color: #DAD1C9;
    padding-bottom: 0;
    margin: -2ch -2ch 1ch -2ch;
    padding: 1ch 2ch;
    background: rgba(0,0,0,.3);
}

a {
  text-decoration: none;
  color: darkkhaki;
}

a:hover {
  color: yellow;
}

a.title {
  display: block;
  margin-bottom: 1ch;
}

#category-info .header {
	margin: 6ch 0 7ch 0;
}

p.meta {
  color: gray;
  margin: 0 0 2ch 0;
  padding: 0;
  font-size: 12px;
}

header,
main,
footer {
  margin: 0 auto
}

@media only screen and (max-width: 750px) {
  aside {
    display: none;
  }
  main {
    margin: 0;
  }
  body {
    padding: 1ch;
  }
  ul.categories {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 500px) {
  ul.categories {
    grid-template-columns: auto;
  }
}
