<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link id="stylesheet" rel="stylesheet" href="{{ root_path }}/themes/Retro Dark.css">
    <title>{% block title %}{{ env.SITE_TITLE }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ env.SITE_DESC }}{% endblock %}">
    <link rel="alternate" type="application/rss+xml" title="Internet Güzeldir RSS Beslemesi" href="/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="Internet Güzeldir Atom Beslemesi" href="/atom.xml" />
    <link rel="icon" href="{{ root_path }}favicon/favicon.ico" type="image/x-icon"a>
    <script>
    function redirectToSearchPage() {
        let q = document.getElementsByName('q')[0].value + " site:{{ env.SITE_URL }}";
        let u = "https://google.com/search?q=" + encodeURI(q);
        window.location = u;
        return false;
    }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86514140-3"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-86514140-3');</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3821665691664234" crossorigin="anonymous"></script>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <header>
			<div id="bar">
				<div class="wrapper">
					<h1><a href="{{ root_path }}index.html">{{ env.SITE_TITLE }}</a></h1>
					<div>
						<form id="search" autocomplete="off" autocomplete="off" onsubmit="event.preventDefault(); redirectToSearchPage()">
							<input name="q" type="text" />
							<input value="Ara" type="submit"/>
						</form>
						<button onClick="window.location='https://docs.google.com/forms/d/e/1FAIpQLSfowx93hakWPZaEjmeG2TtjQJnT9dvW2i1Xg7B-yXJYCMjm8Q/viewform?usp=sf_link'">Ekleme</button>
					</div>
				</div>
			</div>
			{% if breadcrumbs %}
			<div id="breadcrumbs">
				<ul class="wrapper">
					{% for breadcrumb in breadcrumbs %}
						<li><a href="{{ root_path }}{{ breadcrumb.path }}index.html">{{ breadcrumb.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
    </header>
  <div id="page" class="wrapper">
      {% block before_header %}{% endblock %}
      {% block main %}{% endblock %}
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
