<!DOCTYPE html>
<html lang="tr">
  <head>
    <style id="style-element"></style>
    <script>
      const CSS_CACHE_STORAGE = "CSS_CACHE_STORAGE"
      const THEME_STORAGE = "THEME_STORAGE"
      const STYLE_EL = document.querySelector("#style-element")
      const THEME = localStorage.getItem(THEME_STORAGE) || "{{ env.DEFAULT_THEME }}"

      const fetchTheme = async (path) => {
        const response = await fetch(`{{ root_path }}${path}`)
        const css = await response.text()
        STYLE_EL.innerHTML = css
        localStorage.setItem(CSS_CACHE_STORAGE, css)
        localStorage.setItem(THEME_STORAGE, path)
      }

      const cssCache = localStorage.getItem(CSS_CACHE_STORAGE);

      if (cssCache) {
        STYLE_EL.innerHTML = `
          .loader {
            display: none;
          }
          ${cssCache}
        `
      } else {
        STYLE_EL.innerHTML = `
          #page {
            display: none;
          }
        `
      }

      window.addEventListener("load", async () => {
        if (!cssCache) {
          await fetchTheme(THEME);
        }

        const page = document.querySelector("#page");
        if (page) {
          page.style.display = "block"
        }

        const loader = document.querySelector(".loader");
        if (page) {
          loader.style.display = "none"
        }
      })
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W8DKVKD');</script>
    <!-- End Google Tag Manager -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!--<link id="stylesheet" rel="stylesheet" href="{{ root_path }}{{ env.DEFAULT_THEME }}">-->
    <title>{% block title %}{{ env.SITE_TITLE }}{% endblock %}</title>
    <meta name="description" content="{% block description %}İnternet'in ne kadar güzel olduğunu hatırlamanızı sağlayacak link dizini{% endblock %}">

    {% block extra_head %}
    {% endblock %}

    <style>
      .loader,
      .loader:before,
      .loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
      }
      .loader {
        color: #999999;
        font-size: 10px;
        margin: 80px auto;
        position: relative;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      .loader:before,
      .loader:after {
        content: '';
        position: absolute;
        top: 0;
      }
      .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      .loader:after {
        left: 3.5em;
      }
      @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
          box-shadow: 0 2.5em 0 0;
        }
      }
      @keyframes load7 {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
          box-shadow: 0 2.5em 0 0;
        }
      }
    </style>
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8DKVKD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="loader">Loading...</div>
    <div id="page">
      {% block before_header %}{% endblock %}
      <h1><a href="{{ root_path }}index.html">İNTERNET GÜZELDİR</a></h1>

      <div style="margin:auto;position:fixed;top:0;right:0;padding:5px;background:gray;color:white;border:lightgray;">
        Tema:
        <select id="theme-selector">{% for (path, name) in themes %}<option value="{{ path }}" {% if env.DEFAULT_THEME == path %}selected{% endif %}>{{ name }}</option>{% endfor %}</select>
      </div>

      <div id="wrapper">
        {% block main %}{% endblock %}
      </div>
      {% block footer %}{% endblock %}
    </div>
  </body>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86514140-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-86514140-3');
  </script>

  <script>
    const select = document.querySelector("#theme-selector");
    select.addEventListener("change", async function(e) {
      const value = e.target.value
      fetchTheme(value)
    })

    const options = Array.from(document.querySelectorAll("#theme-selector option"));
    options.forEach(e => e.value === THEME && (e.selected = true))
  </script>
</html>
