<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script data-ad-client="ca-pub-3821665691664234" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
        html {
          background: black;
          scroll-behavior: smooth;
        }
        body {
          font-family: monospace;
          font-size: 14px;
          line-height: 18px;
          color: lightgray;
          padding: 0;
          display: grid;
          grid-template-columns: min-content 2fr 1fr;
          grid-template-rows: min-content 1fr;
          gap: 0px 0px;
          grid-template-areas:
            "header header header"
            "left main main";
          max-width: 800px;
          margin: 0 auto;
        }
        main { grid-area: main; }
        header { grid-area: header; }
        aside.left { grid-area:left; }
        aside.right { grid-area:right; }
        h1, h2, h3, h4, h5 {
          padding: 0;
        }
        h2, h3, h4, h5 {
          margin: 1rem 0;
        }
        h1 {
          font-size: 24px;
          line-height: 30px;
          color: black;
        }
        h2 {
          font-size: 18px;
          line-height: 22px;
        }
        h3 {
          font-size: 20px;
          line-height: 26px;
        }
        h4 {
          font-size: 16px;
          line-height: 22px;
        }
        main { margin-left: 2rem; }

        aside.left {  }
        aside.left ul {
          margin: 0 0 0 1rem;
          padding: 0;
        }

        aside.left li {
          margin: 0 0 .5rem 0;
          list-style: square;
          white-space: nowrap;
        }

        aside.left li a.active {
          font-weight: bold;
        }

        aside.right {}
        #sections {
          height: 100vh;
          overflow: scroll;
        }

        section {
          margin: 0;
          padding: 0;
        }

        section .inner {
          margin: 0 0 0 .5rem;
          padding: 0 0 0 1rem;
          border-left: 1px solid darkgray;
        }

        section:first-child {
          margin-top: 0;
        }

        section:last-child {
          margin-bottom: 0;
        }

        ul.links {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        ul.links li {
          margin: 0 2rem 2rem 0;
          position: relative;
          overflow: auto;
        }

        ul.links li:last-child {
          margin: 0;
        }

        ul.links li .favicon {
          width: 16px;
          height: 16px;
          margin: 0;
          vertical-align: bottom;
          display: block;
          float: left;
        }

        ul.links li .content {
          float: left;
          margin-left: 10px;
          width: calc(100% - 26px);
          overflow: hidden;
        }

        ul.links li .content .desc {
            margin: .4rem 0;
        }

        a {
          text-decoration: underline;
          color: lightblue;
        }
        #link_detail {
          margin: 0 0 2rem 0;
        }

        #link_detail h2 {
          margin: 1rem 0 0 0;
        }

        p.meta {
          font-size: 12px;
          color: gray;
          margin: 0;
          padding: 0;
        }

        @media only screen and (max-width: 600px) {
          aside {
            display: none;
          }

          body {
            padding: .5rem;
          }

          section .inner {
            margin: .5rem 0 .5rem .5rem;
            padding: .5rem 0 .5rem .5rem;
          }
        }

        #disqus_thread {
          border: 1px solid gray;
          padding: 1rem;
        }
        .button {
          border: 1px outset lightgray;
          background: lightgray;
          padding: .5rem;
        }
        .button:hover {
          background: gray;
        }
        </style>
        <title>{% block title %}İnternet Güzeldir{% endblock %}</title>

    </head>  
    <body>
      <header>
        <h1><a href="{% if current_category %}{% for idx in range(current_category.level + 1) %}../{% endfor %}{% endif %}index.html">İNTERNET GÜZELDİR</a></h1>
      </header>
      <aside class="left">
        {% block left %}
        <nav>
            <h2>Kategoriler</h2>
            <ul>
            {% for title, category in categories.categories.items() recursive %}
              <li class="level{{loop.depth + 1}}">
                <a {% if current_category and current_category.category_url == category.category_url%}class="active"{% endif %} href="{% if current_category %}{% for idx in range(current_category.level + 1) %}../{% endfor %}{% endif %}{{ category.category_url }}index.html">{{ title }}</a>
              </li>
              {% if category.categories %}
                <ul>
                  {{ loop(category.categories.items()) }}
                </ul>
              {% endif %}
            {% endfor %}
            </ul>
        </nav>
        {% endblock %}
      </aside>
      <main>
        {% block main %}{% endblock %}
      </main>
    </body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86514140-3"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-86514140-3');</script>
</html>
