{% extends "base.html.jinja2" %}

{% block title %}{{ current_category.title }} Kategorisindeki Linkler{% endblock %}

{% block main %}

<h2>{{ current_category.title }}</h2>
{% if current_category.links %}
  <ul class="links">
    {% for link in current_category.links %}
      {% include "link_as_list_item.html.jinja2" %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
