{% extends "base.html.jinja2" %}
{% block main %}
<div id="sub-categories">
  <ul>
    <li class="up"><a href="../index.html">Üst Klasör</a></li>
    {% if category.children %}
      {% for sub_category_id in category.children %}
        {% set category = categories[sub_category_id] %}
        <li><a href="{{ root_path }}{{ category['path'] }}index.html">{{ category['name'] }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
<div id="main-header">
  <h2>{{ category.title }}</h2>
  {% if category.desc %}<p>{{ category.desc }}</p>{% endif %}
</div>
{% if links %}
  <ul class="links">
    {% for link in links|sort(attribute='create_time') %}
      {% include "link_as_list_item.html.jinja2" %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
