<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script data-ad-client="ca-pub-3821665691664234" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
        body {
          margin: 0;
          padding: 0;
          font-size: 16px;
          line-height: 18px;
          display: grid;
          grid-template-areas: 'aside main main';
          grid-gap: 0;
          padding: 0;
          height: 100vh;
          overflow: scroll;
        }

        h1, h2, h3, h4, h5 {
          margin: 0 0 1rem 0;
          padding: 0;
        }

        h2, h3, h4, h5 {
          margin: 1rem 0;
        }

        h1 {
          font-size: 28px;
          line-height: 36px;
        }

        h2 {
          font-size: 24px;
          line-height: 30px;
        }

        h3 {
          font-size: 20px;
          line-height: 26px;
        }

        h4 {
          font-size: 16px;
          line-height: 22px;
        }

        aside {
          grid-area: aside;
          padding: 2rem;
          height: 100vh;
          overflow: scroll;
        }

        main {
          grid-area: main;
          overflow: scroll;
          padding: 1rem 1rem 2rem 2rem;
          scroll-behavior: smooth;
        }

        aside h2 {
          margin-top: 0;
        }

        aside ul {
          margin: 0 0 0 1rem;
          padding: 0;
        }

        aside li {
          margin: 0 0 .25rem 0;
          list-style: square;
          white-space: nowrap;
        }

        #sections {
          height: 100vh;
          overflow: scroll;
        }

        section {
          margin: 0;
          padding: 0;
        }

        section .inner {
          margin: 0 0 0 .5rem;
          padding: 0 0 0 .5rem;
          border-left: 1px solid lightgray;
        }

        section:first-child {
          margin-top: 0;
        }

        section:last-child {
          margin-bottom: 0;
        }

        ul.links {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        ul.links li {
          margin: 0 0 .5rem 0;
        }

        ul.links li:last-child {
          margin: 0;
        }

        ul.links li .favicon {
          width: 16px;
          height: 16px;
          margin: 0;
          vertical-align: bottom;
        }

        ul.links li .content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          margin: 0;
        }

        ul.links li .content .desc {
            margin-top: .2rem;
        }

        a {
          text-decoration: underline;
        }

        @media only screen and (max-width: 600px) {
          aside {
            display: none;
          }

          body {
            padding: .5rem;
          }

          section .inner {
            margin: .5rem 0 .5rem .5rem;
            padding: .5rem 0 .5rem .5rem;
          }
        }

        </style>
    </head>
    <body>
        <aside>
            <nav>
                <h2>Kategoriler</h2>
                <ul>
                {% for section_title, section_props in sections.sections.items() recursive %}
                    <li class="level{{loop.depth + 1}}">
                        <a href="#{{ section_props.slug }}">{{ section_title }}</a>
                    </li>
                    {% if section_props.sections %}
                        <ul>
                            {{ loop(section_props.sections.items()) }}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        </aside>
        <main>
            {% for section_title, section_props in sections.sections.items() recursive %}
                <section class="level{{ loop.depth }}" id="{{ section_props.slug }}">
                    <h{{loop.depth + 1}}>{{ section_title }}</h{{loop.depth + 1}}>
                    <div class="inner">
                        {% if section_props.links %}
                            <ul class="links">
                            {% for link in section_props.links %}
                                <li class="link">
                                    <img class="favicon"src="https://www.google.com/s2/favicons?domain={{ link.url }}" />
                                    <span class="title"><a target="_blank" href="{{ link.url }}">{{ link.title}}</a>: </span>{{link.desc}}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% if section_props.sections %}
                            {{ loop(section_props.sections.items()) }}
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86514140-3"></script>
            <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-86514140-3');</script>
        </main>
    </body>
</html>
