{% extends "base.html.jinja2" %}

{% block main %}
<h2>Son Eklenenler</h2>

<ul class="links">
{% for link in latest_links %}
  {% include "link_as_list_item.html.jinja2" %}
{% endfor %}
</ul>

{% endblock %}
