<article>
  <div class="favicon" style="background-image:url(https://www.google.com/s2/favicons?domain={{ link.url }})"></div>
	<h3><a href="{{ root_path }}{{ link.file_path}}">{{ link.title }}</a></h3>
	<p>{{ link.desc }}</p>
</article>

