{% extends "base.html.jinja2" %}


{% block title %}{{ link.title}} — Internet Güzeldir{% endblock title %}
{% block description %}{{ link.desc }}{% endblock %}
{% block body_class %}two_column{% endblock body_class %}

{% block extra_head %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@internetguzel" />
  <meta name="twitter:title" content="{{ link.title }}" />
  <meta name="twitter:description" content="{{ link.desc }}" />
  <meta name="twitter:image" content="https://internetguzeldir.com/{{ image_url }}" />
{% endblock %}

{% block main %}
<main>

<div id="link_detail">
  <div class="inner">
    <h2 class="mb">{{ link.title }}</h2>
    <p class="mb">{{ link.desc }}</p>
    <p class="mb"><a class="link" target="_blank" href="{{ link.url }}">{{ link.url|truncate(50, False, '...', 0) }}</a></p>
    <p class="meta{% if link.source %} mb{% endif %}">Bu site {% if link.sender %}<a href="https://twitter.com/{{ link.sender }}">@{{ link.sender }}</a> tarafindan gönderilmiş {% endif %} {{ link.lang }} dilinde bir {{ link.kind }} olup, {{ link.create_time.strftime('%d-%m-%Y') }} tarihinde eklenmiştir.</p>    
  </div>
</div>

<script src="https://utteranc.es/client.js"
        repo="miratcan/internetguzeldir"
        issue-term="pathname"
        label="comment"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
</main>
{% endblock %}
